@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.navbar.sticky {
    padding: 15px 0;
    background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

/* .navbar .logo a span {
    color: rgb(71, 82, 146);
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
    color: #fff;
    transition: all 0.3s ease;
} */

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover {
    color: rgb(71, 82, 146);    
}

.navbar.sticky .menu li a:hover {
    color: #fff;
}

.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.home {
    display: flex;
    background: url("images/Me.jpg") no-repeat right;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-color: black;
    font-family: 'Ubuntu', sans-serif; 
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 27px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span {
    color: rgb(71, 82, 146);
    font-weight: 500;
}

.home .home-content a {
    display: inline-block;
    background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid rgb(71, 82, 146);
    transition: all 0.3s ease;
}

.home .home-content a:hover{
    color: rgb(71, 82, 146);
    background: none;
}

section {
    padding: 100px 0;
}

.about {
    font-family: 'Poppins', sans-serif;
}

.about .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif
}

.about .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%)
}

.about .title::after{
    content: "who I am";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: rgb(71, 82, 146);
    padding: 5px;
    background: #fff;
    transform: translateX(-50%)
}

.about .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .left {
    width: 45%
}

.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.about .about-content .right {
    width: 55%
}

.about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right .text span {
    color: rgb(71, 82, 146);
}

.about .about-content .right p {
    text-align: justify;
}

.about .about-content .right a {
    display: inline-block;
    background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid rgb(71, 82, 146);
    transition: all 0.3s ease;
}

.about .about-content .right a:hover {
    color: rgb(71, 82, 146);
    background: none;
}

.skills {
    background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));    
}

.skills .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif
}

.skills .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%)
}

.skills .title::after{
    content: "tech I've used";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: black;
    padding: 5px;
    background: rgb(47,132,159);
    transform: translateX(-50%)
}

.skills .skills-content .box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 50px;
}


.text-box {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 25px;
}

#logo {
    height: 150px;
    width: 150px;
    padding: 10px;
}

.projects .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif
}

.projects .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%)
}

.projects .title::after{
    content: "check it out";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: rgb(71, 82, 146);
    padding: 5px;
    background: #fff;
    transform: translateX(-50%)
}

.weather-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.weather-app img {
    border-radius: 20px;
    width: 25rem;
}

.weather-app h2, p  {
    font-family: 'Poppins';
    font-weight: 500;
    line-height: 2rem;
    margin-top: 1rem;
}

.weather-app button {
    background-color: rgb(71, 82, 146);
    color: white;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
    font-family: 'Poppins';
    margin-top: 1rem;    
}

.weather-app button:hover{
    background: none;
    color: rgb(71, 82, 146);
    transition: all 0.3s ease;
}

.expense-tracker {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
}

.expense-tracker img {
    border-radius: 20px;
    width: 25rem;
}

.expense-tracker h2, p  {
    font-family: 'Poppins';
    font-weight: 500;
    line-height: 2rem;
    margin-top: 1rem;
}

.expense-tracker button {
    background-color: rgb(71, 82, 146);
    color: white;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
    font-family: 'Poppins';
    margin-top: 1rem;    
}

.expense-tracker button:hover{
    background: none;
    color: rgb(71, 82, 146);
    transition: all 0.3s ease;
}

.recipe-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
}

.recipe-app img {
    border-radius: 20px;
    width: 25rem;
    height: 17rem;
}

.recipe-app h2, p  {
    font-family: 'Poppins';
    font-weight: 500;
    line-height: 2rem;
    margin-top: 1rem;
}

.recipe-app button {
    background-color: rgb(71, 82, 146);
    color: white;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
    font-family: 'Poppins';
    margin-top: 1rem;    
}

.recipe-app button:hover{
    background: none;
    color: rgb(71, 82, 146);
    transition: all 0.3s ease;
}

.contact {
   background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));    
}

.contact .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.contact .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%)
}

.contact .title::after{
    content: "get in touch";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: black;
    padding: 5px;
    background: rgb(47,132,159);
    transform: translateX(-50%)
}

.email, .location {
    font-family: 'Ubuntu', sans-serif;
}

.email-container, .location-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.email h3, .location h3 {
    display: inline-block;
    padding-top: 40px;
}

.contact .contact-content .row {
    display: flex;
    justify-content: space-around;
    padding-top: 75px;
}

@media (max-width: 1300px){
    .home .max-width {
        margin-left: 0px;
    }
}
@media (max-width: 1104px){
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}
@media (max-width: 991px){
    .max-width {
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .max-width {
        padding: 0 50px;
    }
    .menu-btn {
        display: block;
        z-index: 999;    
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0%;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font: 25px;
    }
    .home .home-content .text-2 {
        font-size: 70px;
    }    
    .home .home-content .text-3 {
        font-size: 35px;
    }
    .max-width {
        max-width: 800px;
    }
    .about .about-content .column {
        width: 100%;
    }   
}